<h1>Login</h1>

<%= form_for @user, url: user_path do |f|%>
	<p>
		<%= f.label "Nome:" %>
		<%= f.text_field :nome %>
	</p>
	<p>
		<%= f.label "Pontos:" %>
		<%= f.text_field :pontos %>
	</p>
	<p>
		<%= f.submit %>
	</p>

<% end %>